body {
    background: url(../assets/images/pageback.png) no-repeat center center fixed;
    background-color: black;
    margin: 0;
    padding: 0;
}

#menu,
#credits,
#scoreboard,
#game-lose,
#game-win {
    display: none;
    align-content: center;
    margin-top: 10px;
}

#game-play canvas {
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#game-canvas {
    border: 10px inset #999;
    box-shadow: 0 0 40px 5px black;
    /*TODO: render this gradient in the canvas using moving background bottom position*/
    background: #588e79;
    background: -moz-linear-gradient(top, #588e79 0%, #c5e0db 16%, #e8fcf6 30%, #f9f9f9 56%, #666666 56%, #000000 100%);
    background: -webkit-linear-gradient(top, #588e79 0%, #c5e0db 16%, #e8fcf6 30%, #f9f9f9 56%, #666666 56%, #000000 100%);
    background: linear-gradient(to bottom, #588e79 0%, #c5e0db 16%, #e8fcf6 30%, #f9f9f9 56%, #666666 56%, #000000 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#588e79', endColorstr='#000000', GradientType=0);
    ;
    z-index: -1;
}

#player-canvas {
    z-index: 5;
}